# Backlink Vault Environment Configuration (Railway Compatible)
PORT=8000
SECRET_KEY=1563044
ADMIN_EMAIL=ryn.ahmed101@gmail.com
ADMIN_PASSWORD=Ryan@1206
GOOGLE_CLIENT_ID=1088831685341-CcijrCfZBuqDzBWp3qSrBEZCqBUfQVz4CWGHWF91iaEw.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
BOT_DELAY=1.0


